.featured {
  position: relative;
  background-image: url("../img/featured-bg.jpg");
  @include bg-cover;
  height: 1080px;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__stories {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35.3%;
    background-color: rgba(#3c4a51, 0.9);
    padding: 126px 133px;
  }
  &__title {
    font-size: 64px;
    line-height: 80px;
    color: var(--color-white);
    margin-bottom: 64px;
  }
}
.blog-article {
  padding-bottom: 105px;
  &__category {
    display: inline-block;
    font-weight: 800;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 15px 30px;
    background-color: var(--color-accent);
    border-radius: 100px;
    margin-bottom: 20px;
  }
  &__title {
    max-width: 40%;
    font-size: 48px;
    line-height: 64px;
    color: var(--color-white);
    margin-bottom: 18px;
  }
  &__descr {
    max-width: 40%;
    font-family: "SFCompact", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-white);
    margin-bottom: 40px;
  }
  &__link {
    display: inline-block;
    background-color: var(--color-neptune);
  }
}
.feature-list {
  &__item {
    &:last-child {
      .feature-list__article {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &__article {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(#e3e3e3, 0.1);
    padding: 30px 0;
  }
  &__image {
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;
    width: 48px;
    height: 48px;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__text {
    margin-left: 32px;
    padding-right: 27px;
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white);
    margin-bottom: 8px;
  }
  &__time {
    font-family: "SFProText", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.502293);
  }
}
