.hero {
  height: 100vh;
  min-height: 660px;
  background-image: url("../img/hero-bg.jpg");
  @include bg-cover;
  padding-top: 223px;
  color: var(--color-white);
  &__container {
    position: relative;
    height: 100%;
    padding-bottom: 200px;
  }
  &__link {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(#1c2e3d, 0.4);
    padding: 15px 30px;
    border-radius: 100px;
    margin-bottom: 42px;
  }
  &__title {
    max-width: 40%;
    font-size: 80px;
    line-height: 84px;
    margin-bottom: 40px;

    @include desktop {
      max-width: 50%;
    }
    @include smalltablet {
      max-width: 75%;
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 50px;
    }
    @include mobile {
      max-width: none;
    }
  }
  &__descr {
    max-width: 32%;
    font-family: "SFCompact", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 57px;

    @include desktop {
      max-width: 50%;
    }
    @include smalltablet {
      max-width: 75%;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 30px;
    }
    @include mobile {
      max-width: none;
    }
  }
  &__btn {
    position: relative;
    z-index: 5;
    background-color: var(--color-accent);
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: var(--color-accent-hover);
      transition: background-color 0.3s ease-in-out;
    }
  }
  &__slider {
    position: relative;
    .hero__slider-btn {
      position: absolute;
      z-index: 50;
      width: 14px;
      height: 14px;
      @include bg-cover;
      bottom: 36px;

      @include smalltablet {
        display: none;
      }
      @include mobile {
        display: block;
      }
    }
    .hero-btn-right {
      background-image: url("../img/arrow-right.svg");
      right: 50px;

      @include desktop {
        right: 30px;
      }
      @include tablet {
        right: 10px;
      }
      @include mobile {
        right: 30px;
      }
      @include minimobile {
        right: 15px;
      }
    }
    .hero-btn-left {
      background-image: url("../img/arrow-left.svg");
      left: 50px;

      @include desktop {
        left: 30px;
      }
      @include tablet {
        left: 10px;
      }
      @include mobile {
        left: 30px;
      }
      @include minimobile {
        left: 15px;
      }
    }
  }
  &__bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 60px);
    display: flex;
    align-items: flex-end;

    @include mobile {
      position: static;
      transform: none;
      width: 100%;
      flex-direction: column-reverse;
      align-items: stretch;
      margin-top: 50px;
    }
  }

  @include mobile {
    min-height: auto;
    height: auto;
  }
}
.search-form {
  position: relative;
  flex-shrink: 0;
  width: 68%;
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 4px;
  &__field {
    border: none;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-dark);
    padding-left: 55px;
    padding-right: 90px;
    &::placeholder {
      font-family: "SFProDisplay", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-dark);
    }

    @include mobile {
      padding-left: 20px;
      padding-right: 48px;
    }
  }
  &__button {
    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url("../img/search.svg");
    background-size: 18px 18px;
    background-position: center right;
    background-repeat: no-repeat;

    @include mobile {
      right: 20px;
    }
  }

  @include mobile {
    width: 100%;
  }
}
.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0;
  .swiper-container {
    @include mobile {
      width: 100%;
    }
  }
  &__media {
    position: relative;
    height: 275px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include desktop {
      height: 230px;
    }
    @include tablet {
      height: 150px;
    }
    @include smalltablet {
      height: 120px;
    }
    @include mobile {
      height: 170px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    height: 42px;
    width: 32px;
    background-image: url("../img/hero-play-btn-white.svg");
    @include bg-cover;
  }
  &__text {
    position: relative;
    height: 120px;
    @include flex-all-center;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.18182px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-neptune);
    border-radius: 0px 4px 0px 0px;
  }
}

@media (max-height: 1079px) and (max-width: 1500px) {
  .hero {
    padding-top: 120px;
    &__container {
      padding-bottom: 30px;
    }
  }
}
@media (max-height: 880px) and (max-width: 1200px) {
  .hero {
    &__link {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 75px;
      line-height: 65px;
    }
  }
}
@media (max-height: 780px) {
  .hero {
    &__title {
      max-width: none;
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 25px;
    }
    &__descr {
      max-width: none;
      font-size: 12px;
      margin-bottom: 30px;
    }
    &__btn {
      padding: 25px 40px;
    }
  }
  .search-form {
    height: 80px;
  }
  .main-slider {
    &__text {
      height: 80px;
    }
  }
}
