.newsletter {
  padding: 52px 0 150px;
  &__content {
    --newsletter-gap: 133px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 338px var(--newsletter-gap) 178px;
    background-image: url("../img/newsletter-bg.jpg");
    @include bg-cover;

    @include bigdesktop {
      --newsletter-gap: 60px;
    }
    @include desktop {
      --newsletter-gap: 30px;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px var(--newsletter-gap) 178px;
    }
    @include mobile {
      --newsletter-gap: 10px;
      padding: 30px var(--newsletter-gap) 40px;
    }
  }
  &__text {
    max-width: 375px;

    @include tablet {
      max-width: none;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__title {
    color: var(--color-white);
    margin-bottom: 40px;

    @include tablet {
      color: #000;
    }
    @include mobile {
      margin-bottom: 25px;
    }
  }
  &__descr {
    font-family: "SFCompact", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);

    @include tablet {
      font-size: 14px;
      line-height: 18px;
      color: #000;
    }
    @include smalltablet {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__form {
    position: absolute;
    bottom: -96px;
    right: var(--newsletter-gap);

    @include desktop {
      bottom: -31px;
    }
    @include tablet {
      position: static;
    }
  }

  @include tablet {
    padding: 50px 0;
  }
  @include mobile {
    padding: 30px 0;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 501px;
  height: 416px;
  background: var(--color-white);
  border-radius: 8px;
  padding-top: 53px;

  @include desktop {
    width: 400px;
    height: 350px;
  }
  @include smalltablet {
    width: 350px;
  }
  @include mobile {
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__field {
    width: calc(100% - (72px * 2));
    border: none;
    border-bottom: 1px solid rgba(#1c2e3d, 0.3);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-dark);
    text-transform: uppercase;
    padding: 25px 0;
    &::placeholder {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 2px;
      color: var(--color-dark);
    }
    @include mobile {
      width: 90%;
      padding: 15px 0;
    }
  }
  &__btn {
    width: 100%;
    background-color: var(--color-neptune);
    padding: 42px 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 74px;
    background-color: var(--color-neptune);
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: var(--color-neptune-hover);
      transition: background-color 0.3s ease-in-out;
    }

    @include smalltablet {
      margin-top: 50px;
    }
    @include mobile {
      padding: 40px 20px;
      margin-top: 30px;
    }
  }
}
