<section class="featured-videos" id="videos">
  <div class="container featured-videos__container">
    <h2 class="featured-videos__title section-title section-title--center">
      Featured Videos
    </h2>
    <p class="featured-videos__descr">
      The state of Utah in the United States is home to lots of beautiful
      National Parks, & Bryce Canyon National Park ranks as three of the most
      magnificent & awe inspiring.
    </p>
  </div>
  <div class="slider-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        <button class="btn-reset slide-play"></button>
        <h3 class="slider-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide slide-2">
        <button class="btn-reset slide-play"></button>
        <h3 class="slider-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide slide-3">
        <button class="btn-reset slide-play"></button>
        <h3 class="slider-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide slide-4">
        <button class="btn-reset slide-play"></button>
        <h3 class="slider-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
    </div>
  </div>
</section>
