<section class="inspirations">
  <div class="container">
    <h2 class="inspirations__heading section-title section-title--center">
      Inspirations
    </h2>
    <p class="inspirations__descr">
      The state of Utah in the United States is home to lots of beautiful
      National Parks, & Bryce Canyon National Park ranks as three of the most
      magnificent & awe inspiring.
    </p>
    <ul class="list-reset grid inspirations__list">
      <li
        class="inspirations__item inspirations__item--big inspirations__item--1"
      >
        <span class="inspirations__label">featured</span>
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">DESTINATIONS</a>
          <h3 class="inspirations__title">
            <a href="#">A Guide To Rocky Mountain Vacations</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-3.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-4.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-5.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--2">
        <button
          class="btn-reset inspirations__play"
          aria-label="Play Video"
        ></button>
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">DESTINATIONS</a>
          <h3 class="inspirations__title">
            <a href="#">Traveling To Barcelona</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-1.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-2.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li
        class="inspirations__item inspirations__item--long inspirations__item--3"
      >
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">DESTINATIONS</a>
          <h3 class="inspirations__title">
            <a href="#">Party Jokes Startling But Unnecessary</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-6.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-7.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li
        class="inspirations__item inspirations__item--long inspirations__item--4"
      >
        <div class="inspirations__text">
          <h3 class="inspirations__title">
            <a href="#">Maui By Air The Best Way Around The Island</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-8.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-9.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li
        class="inspirations__item inspirations__item--long inspirations__item--5"
      >
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Andre Gide</a>
          <h3 class="inspirations__title">
            <a href="#"
              >Man cannot discover new oceans unless he has the courage to lose
              sight of the shore.</a
            >
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-10.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-11.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--6">
        <button
          class="btn-reset inspirations__play"
          aria-label="Play Video"
        ></button>
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">DESTINATIONS</a>
          <h3 class="inspirations__title">
            <a href="#">Traveling To Barcelona</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-12.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-13.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
      <li
        class="inspirations__item inspirations__item--big inspirations__item--7"
      >
        <span class="inspirations__label">featured</span>
        <div class="inspirations__text">
          <h3 class="inspirations__title">
            <a href="#">A Guide To Rocky Mountain Vacations</a>
          </h3>
          <ul class="list-reset inspirations__people">
            <li class="inspirations__people-item">
              <img src="../img/avatar-14.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-15.jpg" alt="Human" />
            </li>
            <li class="inspirations__people-item">
              <img src="../img/avatar-16.jpg" alt="Human" />
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
