<div class="menu" data-menu>
  <nav class="menu__nav">
    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#become" data-menu-item>Become A Travel</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#stories" data-menu-item
          >Featured Stories</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#videos" data-menu-item>Featured Videos</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#newsletter" data-menu-item>Newsletter</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#inspiration" data-menu-item>Inspiration</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#contacts" data-menu-item>Contacts</a>
      </li>
    </ul>
  </nav>
</div>
