<section class="newsletter" id="newsletter">
  <div class="container">
    <div class="newsletter__content">
      <div class="newsletter__text">
        <h2 class="newsletter__title section-title">Sign Up Our Newsletter</h2>
        <p class="newsletter__descr">
          The state of Utah in the United States is home to lots of beautiful
          National Parks, & Bryce Canyon National Park ranks as three of the
          most magnificent.
        </p>
      </div>
      <form class="newsletter__form subscribe-form" action="#">
        <input
          class="subscribe-form__field"
          type="text"
          name="name"
          placeholder="name"
          required
        />
        <input
          class="subscribe-form__field"
          type="email"
          name="email"
          placeholder="email"
          required
        />
        <input
          class="subscribe-form__field"
          type="tel"
          name="tel"
          placeholder="PHONE NUMBER"
          required
        />
        <button class="btn-reset btn subscribe-form__btn">SIGN UP NOW</button>
      </form>
    </div>
  </div>
</section>
