// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SFProDisplay", sans-serif;
  --content-width: 1566px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #fff;
  --color-dark: #1c2e3d;
  --color-accent: #e8594e;
  --color-accent-hover: #e31d0e;
  --color-neptune: #73afba;
  --color-neptune-hover: #4196a6;
  --color-gray-hover: #666e75;
}
